body{
                background-color: rgb(228, 195, 200); 
                border: 100px solid transparent; /* espacio para el marco */
                border-image: url("corazones.png") 200 round; /* marco de corazones */
                font-family: "Comic Sans MS", cursive; /* tipografía romántica */
           

}